
.sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: #11101d;
    padding: 6px 14px;
}
.sidebar .logo_content{
    color: #fff;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;

}
.logodashboard{
    color: #fff;
    display: flex;
    height: 50%;
    width: 100%;
    align-items: center;
}

#icons1{
font-size: 28px;
margin-right: 6px;

}
.logo_name{
    font-size: 20px;
    font-weight: 400;
}
.sidebar #btn1{
    position: absolute;
    color: #fff;
    left: 90%;
    top: 1px;
    font-size: 35px;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 40px;
    transform: translateX(-50%);

}
.navbarlist{
    margin-top: 40px;
}
.navbar_list{
    list-style: none;
    height: 50px;
    width: 100%;
    position: relative;
    margin: 0 -5px;
    /* line-height: 50px; */
}
#input_box{
     position: absolute;
     height: 100%;
     width: 100%;
     left: 0;
     top: 0;
     border-radius: 12px;
     outline: none;
     border: none;
     background: #1d1b31;
     padding-left: 50px;
     font-size: 18px;
     color: #fff;

}
#search_btn{
    position: absolute;
    z-index: 99;
    color: #fff;
    font-size: 22px;
    line-height: 55px;
    padding-left: 12px;
}
.atag{
    color: #fff;
    display: flex;
    align-items: center;
    text-decoration: none;
    transition: all 0.1s ease ;
    border-radius: 12px;
}
.atag:hover{
    color: #11101d;
    background: #fff;
}
#icons2{
    height: 60px;
    min-width: 60px;
    border-radius: 12px;
    line-height: 60px;
    text-align: center;
}
.profile_content{
    position: absolute;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
}
.profileadmin{
    position: relative;
    padding: 10px 6px;
    height: 60px;
    background: #1d1b31;

}
.profile_details{
    display: flex;
    align-items: center;
}
#image_admin{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 12px;
}
.name_job{
    margin-left:10px ;
    
}
.name{
    font-size: 15px;
    font-weight: 400;

}
.job{
    font-size: 12px;

}
#log_out{
    position: absolute;
    left: 88%;
    border: 5px;
    transform: translateX(-50%);
    min-width: 50px;
    /* line-height: 10px; */
    font-size: 30px;
    top: 18px;
    border-radius: 12px;
}
